@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}
.header {
  height: 30vh;
  text-align: center;
  padding: 20px;
  color: white;
  background-image: url("./pattern-bg.png");
  &__title {
    font-weight: 100;
    letter-spacing: 3px;
    margin: 10px;
  }
  &__input {
    position: relative;
    background: white;
    width: fit-content;
    margin: 30px auto;
    min-width: 80%;
    max-width: 100%;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    input {
      width: calc(100% - 50px);
      height: 50px;
      border: 0;
      outline: 0;
      padding: 10px;
      font-size: 18px;
    }
    &__buttton {
      position: relative;
      width: 50px;
      height: 50px;
      border: 0;
      outline: none;
      background: hsl(0, 0%, 17%);
      cursor: pointer;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30px;
        width: 30px;
        path {
          fill: white;
        }
      }
    }
  }
  &__result {
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    box-shadow: 0 0 14px gainsboro;
    padding: 20px 15px;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    width: fit-content;
    max-width: 100%;
    transform: translateX(-50%);
    z-index: 9;
    &__detail {
      text-align: left;
      font-size: 14px;
      padding: 5px 15px;
      width: auto;
      min-width: 250px;
      &__title {
        margin-bottom: 15px;
        display: inline-block;
        color: hsl(0, 0%, 59%);
      }
      &__value {
        color: hsl(0, 0%, 0%);
        font-size: 18px;
      }
    }
    .seperator {
      display: inline-block;
      height: auto;
      flex-shrink: 0;
      width: 1px;
      margin: 5px 0;
      background: gainsboro;
    }
  }
}
.body {
  height: 70vh;
  z-index: -1;
}
.loader {
  height: 70vh;
  width: 100%;
  background: url("./pattern-bg.png");
  display: grid;
  place-items: center;
}
@media (max-width: 600px) {
  .header {
    height: 50vh;
    &__result {
      width: 90%;
    }
  }
  .header__result__detail {
    width: 100%;
    text-align: center;
  }
  .leaflet-container {
    height: 150vh !important;
  }
}
